<!--iframe页面，用http-server启动-->

<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Title</title>
  <script>
    const fatherUrl = 'http://localhost:5173/'

    // 监听父页面发送的消息
    window.addEventListener('message', function(event) {
      console.log(event)
      setResult(event.data.data.name)
    })
    // 发送给父页面消息
    const handleSendFather = () => {
      window.parent.postMessage({
        type: 'MESSAGE_TWO',
        data: { name: '小红', id: 102 }
      }, fatherUrl)
    }
    // 写入结果到DOM中
    const setResult = (data) => {
      const resDom = document.getElementById('result')
      resDom.innerText = data
    }
  </script>
</head>
<body>
<button onclick='handleSendFather()'>发送给父页面消息</button>
<div>父给子的消息：<span id='result'></span></div>
</body>
</html>